$headerHeight: 65px;
$footerHeight: 65px;

.ErrorPopUp {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  justify-content: space-evenly;

  padding: 16px;

  min-height: calc(100vh - $headerHeight - $footerHeight);

  &__header {
    font-family: 'Mont-Bold';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
    color: #0F0F11;

    margin-bottom: 16px;
  }

  &__button {
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;

    color: #FFF;
    text-align: center;
    cursor: pointer;

    font-family: 'Mont-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;

    box-sizing: border-box;
    border: 0;
    padding: 0;
    border-radius: 8px;
    background-color: #216CFF;

    &:hover {
      box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.40);

      animation-name: button-add;
      animation-duration: 0.3s;
      animation-timing-function: ease;
      animation-iteration-count: 2;

      @keyframes button-add {
        0% {
          transform: rotate(0deg);
        }

        25% {
          transform: rotate(-1deg);
        }

        50% {
          transform: rotate(1deg);
        }

        100% {
          transform: rotate(0);
        }
      }
    }

  }
}
