.categories {
  margin-bottom: 80px;

  &__title {
    color: var(--primaryColor);
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    column-gap: 16px;
    --columns: 24;
    grid-template-columns: repeat(var(--columns), 1fr);

    padding: 0;
    list-style: none;
  }

  &__item {
    grid-column: span 8;

    &-picture {

      &-box {
        overflow: hidden;
        display: flex;
        margin-bottom: 24px;
      }

      margin: 0;
      width: 100%;
      transition: transform 0.4s ease-in;

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }

    &-title {
      margin: 0;
      color: var(--primaryColor);
      font-size: 20px;
      font-weight: 700;
      line-height: 25.56px;
      margin-bottom: 4px;
    }

    &-description {
      color: var(--secondaryColor);
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}

@media (max-width: 1199px) {
  .categories {
    margin-bottom: 64px;

    &__list {
    --columns: 12;
    }

    &__item {
      grid-column: span 4;

      &-picture {
        border-radius: 8px;
      }
    }

    &__title {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 639px) {
  .categories {
    margin-bottom: 56px;

    &__list {
      --columns: 4;
      row-gap: 32px;
    }

    &__title {
      font-size: 22px;
      line-height: 30.4px;
    }
  }
}
