$fontRegular: "Mont-Regular";
$fontBold: "Mont-Bold";
$fontSemiBold: "Mont-SemiBold";


$primaryColor: var(--primaryColor);
$secondaryColor: #89939a;
$accentColor: #216cff;
$iconsColor: #b4bdc3;
$elementsColor: #e2e6e9;
