.person {
  display: flex;
  align-items: center;
  padding: 10px;

  &__name {
    flex: 1;
    font-family: 'Mont-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }

  &__link {
    background-color: #0066cc;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;

    font-family: 'Mont-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;

    &:hover {
      background-color: #003365;
    }
  }
}
