.Back-button {
  &__back-arrow {
    position: relative;
  }

  &__back-link {
    display: inline-block;

    font-family: 'Mont-SemiBold', serif;
    color: #89939A;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--pageBackgroundColor);
    border: none;
    cursor: pointer;

    &::after {
      position: absolute;
      content: 'Back';
    }

    &:hover {
      color: var(--primaryColor);
    }
  }
}
