.CounterIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F447AF;
  color: #FFF;
  font-family: "Mont-Bold", serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
  font-style: normal;

  margin: -7px 0 0 9px;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}
