.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  border-bottom: 1px solid #E2E6E9;
  padding-inline: 24px;

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      margin-right: 24px;
      width: 80px;
      height: 28px;
    }
  }

  &__left {
    height: 100%;
    display: flex;
    gap: 24px;
  }

  &__right {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 64px;

    &-link {
      text-decoration: none;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      color: #89939A;
      font-size: 12px;
      position: relative;
      font-weight: 700;
      height: 100%;
      border-bottom: 3px solid transparent;
      letter-spacing: 4%;
      transition: color 0.4s ease-in;

      &:hover {
        color: #0F0F11;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.icon {
  display: block;
  position: relative;
  margin: 24px;
  cursor: pointer;

  &:last-child {
    margin-right: 0px;
  }

  &::after {
    content: '';
    width: 1px;
    height: 64px;
    background-color: #E2E6E9;
    position: absolute;
    left: -24px;
    top: -24px;
  }

  &--favourites,
  &--shopping-bag {
    z-index: 999;
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;
    cursor: pointer;
  }

  &--favourites {
    background-image: url(../../assets/icons/favouritesh-heart-like.svg);
    transition: background-image 0.3s ease;

    &:hover {
      animation: icons-scale 1s infinite;
      background-image: url(../../assets/icons/favourites-filled-heart-like.svg);
    }
  }

  &--shopping-bag {
    background-image: url(../../assets/icons/shopping-bag-cart.svg);
    transition: transform 0.3s ease;

    &:hover {
      animation: icons-shop 1s infinite alternate-reverse;
    }
  }

  &--close {
    background-image: url(../../assets/icons/close.svg);
    display: none;
  }

  &--menu {
    background-image: url(../../assets/icons/menu.svg);
    display: none;
  }
}

@media (max-width: 1199px) {
  .header {
    height: 48px;
    padding-inline: 16px;

    &__left {
      gap: 16px;
    }

    &__logo {
      &-img {
        margin-right: 16px;
        width: 64px;
        height: 22px;
      }
    }

    &__menu {
      gap: 32px;
    }
  }

  .icon {
    margin: 16px;

    &:last-child {
      margin-right: 0px;
    }

    &::after {
      content: '';
      width: 1px;
      height: 48px;
      background-color: #E2E6E9;
      position: absolute;
      left: -16px;
      top: -16px;
    }
  }
}

@media (max-width: 639px) {
  .header {
    position: relative;

    &__menu {
      display: none;
    }
  }

  .icon {
    &--favourites__link-header,
    &--shopping-bag__link-header {
      display: none;
    }

    &--menu, &--close {
      display: block;
      z-index: 999;
      width: 16px;
      height: 16px;
      background-size: cover;
      cursor: pointer;
      margin-right: 0;
    }
  }
}

.active-menu-link {
  font-weight: 800;
  color: #0F0F11;
  border-color: #0F0F11;
}

@keyframes icons-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes icons-shop {
  0% {
    transform: rotate(50deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: rotate(-50deg) scale(1);
  }
}
