.products-carousel {
  margin-bottom: 80px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -1%;
    margin-bottom: 24px;
  }

  &__arrows {
    display: flex;
    gap: 16px;
  }

  &__list {
    padding: 0;
    list-style: none;
    margin-left: 24px;
  }
}

.arrow {
  width: 32px;
  height: 32px;
  border: 1px solid var(--iconsPlaceholdersColor);
  border-radius: 48px;
  background: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  &-left {
    background-image: url(../../assets/icons/arrow-left-black.svg);

    &-dark {
      background-image: url(../../assets/icons/arrow-left.svg);
    }
  }

  &-right {
    background-image: url(../../assets/icons/arrow-right-black.svg);

    &-dark {
      background-image: url(../../assets/icons/arrow-right.svg);
    }
  }
}

@media (max-width: 1199px) {
  .products-carousel {
    margin-bottom: 64px;
  }
}

@media (max-width: 639px) {
  .products-carousel {
    margin-bottom: 56px;

    &__title {
      font-size: 22px;
      font-weight: 800;
      line-height: 30.8px;
    }
  }
}
