<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <footer class="footer">
        <a href="#home" class="footer__logo-link">
            <img class="footer__logo-image" alt="nice-gadgets-logo" src="public/images/logo.png" />
        </a>

        <div class="footer__links">
            <a href="#" class="footer__link">github</a>

            <a href="#" class="footer__link">contacts</a>

            <a href="#" class="footer__link">rights</a>
        </div>

        <div class="footer__back-block">
            <a href="#home" class="footer__back-button"></a>
        </div>
    </footer>
</body>

</html>