.hot-prices {
  margin-bottom: 80px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -1%;
    margin-bottom: 24px;
  }

  &__arrows {
    display: flex;
    gap: 16px;
  }
}

.arrow {
  width: 32px;
  height: 32px;
  border: 1px solid #B4BDC3;
  border-radius: 48px;
  background: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: border-color 1s ease;

  &-left {
    background-image: url(../../assets/icons/arrow-left-black.svg);

    &:hover:not(.swiper-button-disabled) {
      animation: icons-left-transform 1s infinite;
      border-color: #000;
    }
  }

  &-right {
    background-image: url(../../assets/icons/arrow-right-black.svg);

    &:hover:not(.swiper-button-disabled) {
      animation: icons-right-transform 1s infinite;
      border-color: #000;
    }
  }
}

@media (max-width: 1199px) {
  .hot-prices {
    margin-bottom: 64px;
  }
}

@media (max-width: 639px) {
  .hot-prices {
    margin-bottom: 56px;

    &__title {
      font-size: 22px;
      font-weight: 800;
      line-height: 30.8px;
    }
  }
}

@keyframes icons-left-transform {
  0% {
    background-position: left;
  }
  100% {
    background-position: center;
  }

}
@keyframes icons-right-transform {
  0% {
    background-position: right;
  }
  100% {
    background-position: center;
  }
}
