.hot-prices {
  padding-bottom: 80px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -1%;
    margin-bottom: 24px;
  }

  &__arrows {
    display: flex;
    gap: 16px;
  }

  &__arrow {
    width: 32px;
    height: 32px;
  }
}
