$darkThemePrimaryColor: #f1f2F9;
$darkThemeSecondaryColor: #75767f;
$darkThemeAccentColor: #905bff;
$darkThemeIconsColor: #323542;
$darkThemeElementsColor: #3b3e4a;
$darkThemePageBackgroundColor: #0f1121;
$darkThemeCardBackgroundColor: #161827;
