@font-face {
  font-family: "Mont-Bold";
  src: local("Mont-Bold"),
   url("./assets/fonts/Mont-Bold.otf") format("truetype");
  font-weight: bold;
 }

@font-face {
  font-family: "Mont-Regular";
  src: local("Mont-Regular"),
   url("./assets/fonts/Mont-Regular.otf") format("truetype");
  font-weight: bold;
 }

@font-face {
  font-family: "Mont-SemiBold";
  src: local("Mont-SemiBold"),
   url("./assets/fonts/Mont-SemiBold.otf") format("truetype");
  font-weight: bold;
 }

body {
  margin: 0;
  font-family: 'Mont-Bold', sans-serif;
}

h1,
h2,
h3,
h4,
p
 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}

.wrapper {
  padding-inline: 24px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 1200px;
    margin: 0;
  }
}

@media (max-width: 639px) {
  .wrapper {
    padding-inline: 16px;
  }
}
