.ModalButton {
  display: flex;
  height: 48px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;

  color: #FFF;
  text-align: center;
  cursor: pointer;

  font-family: 'Mont-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;

  box-sizing: border-box;
  border: 0;
  padding: 0;
  border-radius: 8px;
  background-color: var(--accentColor);

  &:hover {
    box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.40);

    animation-name: button-add;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 2;

    @keyframes button-add {
      0% {
        transform: rotate(0deg);
      }

      25% {
        transform: rotate(-1deg);
      }

      50% {
        transform: rotate(1deg);
      }

      100% {
        transform: rotate(0);
      }
    }
  }
}
