$headerHeight: 65px;
$footerHeight: 65px;
$imageHeight: 50vh;

.Empty-cart {
  height: calc(100vh - $headerHeight - $footerHeight);

  &__header {
    color: #0F0F11;
    text-align: center;

    font-family: 'Mont-Bold';
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
  }

  &__button-home {
    margin: 0 auto;
    display: block;
    padding: 1px;
  }
}

.img-cart {
  padding: 1px;
  margin: 0 auto;
  display: block;
  height: $imageHeight;
}
